body {
width:100%;
height:100%;
background: -moz-linear-gradient(#83C8FF, #FFFFFF);
  text-align:center;
}
.addthemecenter {
height:100%;
width:100%;
  background: -moz-linear-gradient(#83C8FF, #FFFFFF);
  text-align:center;
}
.addtheme_top {
 width:100%;
 height:20%;
 font-size:30px;
 text-align:center;
 line-height:50px;
 float:left;
}
.addtheme_center {
 width:100%;
 height:80%;
 font-size:30px;
 text-align:center;
 line-height:50px;
 float:left;
}
.addtheme_left {
 height:100%;
 width:50%;
 background-color:red;
}