<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
        name="hibernate-configuration"
        type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"
        />
  </configSections>

  <!-- Add this element -->
  <hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
    <session-factory name="NHibernate.Test">
      <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
      <property name="connection.connection_string">
        <!--Database=mydatabase;Data Source=someip;User Id=root;Password=Hj1995815-->
        Server=huangjie;Database=mydatabase;User Id=root;Password=Hj1995815
      </property>
      <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
      <mapping assembly="Test"/>
    </session-factory>
  </hibernate-configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DalAssemblyName" value="OA.DAL"/>
    
  </appSettings>
</configuration>