@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>毕业论文管理系统-湖南中医药大学</title>
    <link href="~/Content/User/UserCSS/login.css" rel="stylesheet" />
</head>
<body>
    <div id="login">
        
    </div>
</body>
</html>
